# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://terra_manager_db_owner:wrTm2iJkf3FV@ep-proud-wind-a54db6q3-pooler.us-east-2.aws.neon.tech/terra_manager_db?sslmode=require"
PORT=3000
JWT_SECURITY = "as1d89fHJ68HPOII67Sg5hj=7kl"
JWT_EXPIRATION=720000

API_CLIMA_URL=https://api.openweathermap.org/data/2.5/weather
API_CLIMA_KEY=a57060b1d446779adeabafbd162e5f4f

API_COTACAO_URL=https://brapi.dev/api/quote
API_COTACAO_TOKEN=4PR2z62mmaYrxCSCYCz9EL

API_NEWS_URL=https://newsapi.org/v2/everything
API_NEWS_KEY=d7bba934ec9545d98fbb26a9115172d6

API_SOIL_URL = https://rest.isric.org/soilgrids/v2.0/properties/query

FRONTEND_URL=http://localhost:5173

EMAIL_USER=souteste102@gmail.com
EMAIL_PASS=bbbz qykh vryd ltmm